
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("imagenes/jj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

header {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 165, 0, 0.7);
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  padding: 10px 20px;
  color: #333;
}

nav a:hover {
  background-color: #ffa500;
  color: #fff;
}

section {
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 165, 0, 0.7);
}